<h4><%= link("Upload new picture", to: Routes.pictures_path(@conn, :new)) %></h4>
<%= for picture <- @pictures do %>
  <img data-copy-src src="<%= PersonalWebsite.PictureUploader.url({picture.picture, picture}) %>">
<% end %>
