<h1>Edit post</h1>

<%= link("Delete post", to: Routes.post_path(@conn, :destroy, @post), method: :delete) %>

<%= form_for @changeset, Routes.post_path(@conn, :update, @post), fn f -> %>
  <%= label f, :title %>
  <%= text_input f, :title, placeholder: "Title" %>
  <%= label f, :article %>
  <%= textarea f, :article %>
  <%= submit "Update post" %>
<% end %>
