<h1>Create a new post</h1>

<%= form_for @changeset, Routes.post_path(@conn, :create), fn f -> %>
  <%= label f, :title %>
  <%= text_input f, :title, placeholder: "Title" %>
  <%= label f, :article %>
  <%= textarea f, :article %>
  <%= submit "Post" %>
<% end %>
