<h1>Create a new post</h1>

<%= form_for @changeset, LayoutView.post_path(@conn, :create), fn f -> %>
  <%= label f, :title %>
  <%= text_input f, :title, placeholder: "Title" %>
  <%= label f, :summary %>
  <%= text_input f, :summary, placeholder: "Summary" %>
  <%= label f, :tags %>
  <%= text_input f, :tags, placeholder: "Tags" %>
  <%= label f, :article %>
  <%= textarea f, :article, placeholder: "Article" %>
  <%= submit "Post" %>
<% end %>
