<h1><%= @post.title %></h1>
<h5>Posted at: <%= @post.inserted_at %></h5>
<%= unless @post.tags == [] do %>
  <h5>Tags: <%= Tags.display(@post.tags) %></h5>
<% end %>

<%= if AuthenticateAdmin.is_admin?(@conn) do %>
  <%= link("Edit", to: LayoutView.post_path(@conn, :edit, @post)) %>
<% end %>

<%= raw @post.article %>
